{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  },
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "never"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true  // 这会自动包含 process 作为全局变量
  },
  "globals": {
    "process": true
  },
  "extends": "eslint:recommended"
}
